<h2 style='text-align:center;margin-top:150px; margin-bottom:70px'>It is so easy they don't even need a bitcoin wallet!</h2>

  <div data-href='/twitter/gifts/new' class='sexyButton' style='margin-bottom:50px'><i class="icon-twitter icon-large icon"></i> Send via Twitter</div>

<% if (session[:provider] == 'twitter' || session[:provider] == :twitter) %>
    <% if  @gifts.count > 1 %>
      <h3 style='overflow-y;hidden;text-align:center;max-height:40px;'><span style='width:100%'>Gifts people sent to you via <%= session[:provider] %></span></h3>

      <table>
        <tbody class='table table-striped'>
            <% @gifts.flatten.each do |gift| %>
            <tr>
                <td><%= gift.recipient_twitter_username %></td>
                <td><%= gift.bitcoin_amount %> btc</td>
                <td><%= gift.funded_at.strftime("%D at %H:%M:%S") %></td>
              
                <% if !gift.retrieved_at.nil? %>
                <td><%= gift.retrieved_at.strftime("%D at %H:%M:%S") %></td>                                      
                <% end %>

              <td><button class='btn btn-positive'>Claim Gift</button></td>

            </tr>
            <% end %>
        </tbody>
      </table>
    <% else %>
  <% end %>
<% else %>
  <p style='padding-top:20px;margin-top:20px;text-align:center; font-size:150%'>or <a href='/auth/twitter' id='twitterLogin'>Login with Twitter</a> to Claim Gifts</p>
<% end %>

<script id='formTemplate' type='text/template'>
  <form method='post' id='newInvoice' style='' novalidate>
    <p class='input'>Twitter Username of Recipeient:</p>
    <input name='twitterRecipient' step='0.001' min='0.001' required='true' type='text'></input>

    <p class='input'>Number of Bitcoins to Send</p>
    <input type='number' name='amountInBitcoins'></input>

    <br/><br/>

    <input type='submit' value='next' class='sexyButton small'></input>
  </form>
</script>

<% content_for :javascripts do %>
  <script>

    $(function(){

      $(window).on('unload',function(e) {
        alert(e);

        e.preventDefault();
      });

      var AppRouter = Backbone.Router.extend({
        routes: {
          '' : 'index',
          '/twitter/gifts/new' : 'newGift'
        },

        index: function() {

        },

        newGift: function() {
          console.log('new gift');
          $('.page-content').html(template({}));
        }
      });

      window.app = new AppRouter;

      Backbone.history.start({
        pushState: true,
        silent: true
      });

      var template = _.template($('#formTemplate').html());

      $('.sexyButton').on('click', function(e){
        e.preventDefault();
        console.log('about to new gift');
        app.newGift();
        app.navigate('twitter/gifts/new', {trigger: true, replace: true});
      });

      if (window.plugins && window.plugins.childBrowser) {
        $('#twitterLogin').on('click', function(e) {
          e.preventDefault();
          window.plugins.childBrowser.showWebPage('/auth/twitter', {
            showLocationBar: true
          });
        })
      }
    });
  </script>
<% end %>